body{
  min-height: 100vh;
  background: url(../images/177459.jpg);
  background-size: auto 100vh !important;
  background-repeat: no-repeat !important;
  background-position: center;
  padding: 15px;
}
a:hover{
  text-decoration: none;
}

.time{
  color: #fff;
}
.icon-status{
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 15px;
  margin-right: 15px;
}
.icon-status img{
  margin-left: 1px;
  margin-right: 1px;
}
.main-app{ 
  margin-top: 30px; 
  text-align: center;
} 
.app{  
  text-align: center;
  margin-top: 10px;
}
.app div{ 
  width: 60px;
  height: 60px;
  background-size: 60px 60px !important;
  background-repeat: no-repeat !important;
  background-position: center;
  border-radius: 10px; 
  transition: .33s all ease-out; 
}
.app p{ 
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 5px;
  margin-top: 2px;
  font-size: 14px;
}
.app:active div{ 
  transform: scale(1.1);
}

.fix-bot{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;   
}
.backdrop{ 
  margin-bottom: 20px;
  min-height: 95px;
  background: #FFFFFF4D 0% 0% no-repeat padding-box;
  border-radius: 30px;
  opacity: 1;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  padding: 5px 15px 15px;
}