@font-face{
  font-family: RSU_Text_Bold;
  src: url(../fonts/RSU_Text_Bold.ttf);
  font-style: normal;
  font-variant:initial;
} 
a:hover{
  text-decoration: none;
}
body{ 
  font-family: RSU_Text_Bold;
} 
.time{
  color: #fff;
}
.icon-status{
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 15px;
  margin-right: 15px;
}
.icon-status img{
  margin-left: 1px;
  margin-right: 1px;
}
.main-app{ 
  margin-top: 30px; 
  text-align: center;
} 
.app{  
  text-align: center;
  margin-top: 10px;
}
.app div{ 
  width: 60px;
  height: 60px;
  background-size: 60px 60px !important;
  background-repeat: no-repeat !important;
  background-position: center;
  border-radius: 14px; 
  transition: .33s all ease-out; 
  display: block;
  margin: auto;
}
.app p{ 
  color: #000;
  text-transform: capitalize;
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 18px;
  line-height: 16px;  
}
.app:active div{ 
  transform: scale(1.1);
}
.app:hover div{ 
  transform: scale(1.1);
}


.fix-bot{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;  
}
.backdrop{ 
  margin-bottom: 20px;
  min-height: 95px;
  background: #FFFFFF4D 0% 0% no-repeat padding-box;
  border-radius: 30px;
  opacity: 1;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 5px 15px 15px;
}
.alt{
  height: 24px !important;
  width: 24px !important;
  border-radius: 100% !important;
  background-color: #FF0000;
  position: absolute;
  right: 0;
  top: 0;
  color: #fff !important;
  font-size: 13px;
  padding-top: 2px;
  text-align: center !important;
  z-index: 9; 
}



@media only screen and (max-width: 991px) { /* MOBILE */
  body{
    min-height: 100vh;
    background: url(../images/RSU2015-04.webp);
    background-size: auto 100% !important;
    background-repeat: no-repeat !important;
    background-position: center center;
    padding: 15px;
  }   
  .col-3{
    padding-left: 5px;
    padding-right: 5px;
  } 
  .fix-bot{
    position: relative !important;
    bottom: unset !important;
    left: unset !important;   
    padding-left: 0px;
    padding-right: 0px;
  } 
  
  .fix-bot{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;  
  }
  .fix-bot .backdrop{  
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}
@media only screen and (min-width: 992px) { /* PC */
  body{
    min-height: 100vh;
    background: url(../images/RSU2015-04.webp);
    background-size: 100% auto !important;
    background-repeat: no-repeat !important;
    background-position: center;
    padding: 15px;
  }
  .alt{
    margin-right: 28px;
    margin-top: 2px !important;
  }
  .fix-bot{ 
    width: 98%;
    transform: translate(-50%, -10%);
    left: 50%;
  }
}
@media only screen and (width: 1024px) { /* IPAD PRO */
  body{
    min-height: 100vh;
    background: url(../images/RSU2015-04.webp);
    background-size: auto 100vh !important;
    background-repeat: no-repeat !important;
    background-position: center;
    padding: 15px;
  }
}
@media only screen and (width: 768px) { /* IPAD */
  .alt{
    margin-right: 20px;
  }
}